*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
.header{
    height:60px;
    background: #37f;
    width: 100%;
    text-align: left;
    .sysName{
        font-size: 30px;
        line-height: 60px;
        color:#fff;
        padding-left:40px;
    }
}
.left{
    position: absolute;
    top:60px;
    bottom:0;
    width: 100%;
    left:0;
    width: 140px;
}
.content{
    position: absolute;
    top:60px;
    bottom:0;
    left:140px;
    right:0;
}

